<screen>
  <page>
    <vbox>
      <vbox fill class='content'  >
        {{#each sortedPlayers as |player|}}
          <hbox fit align='center' class='player-row'>
            <box align='start'>
              {{player.name}}
            </box>

            <box align='end'>
              <button {{action 'addOne' player}}>
                +
              </button>
              <button {{action 'takeAwayOne' player}}>
                -
              </button>
            </box>

            <box fit align='end'>
              {{player.initiative}}
            </box>
          </hbox>
        {{/each}}
      </vbox>

      <hbox fit align='center' justify='center'>
        {{input type='text' value=name}}

        {{input type='number' value=initiative}}

        <button {{action 'createPlayer' name initiative}}>
          ADD
        </button>

        {{turn-timer}}
      </hbox>
    </vbox>
  </page>
</screen>
